.sqlqButton {
    font-size: 1rem;
  background-image: linear-gradient(to top, #f77062 0%, #fe5196 100% );
  padding: 14px 32px;
  border: none;
  border-radius: 4px;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}